

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>

    <body>

        <main>


            <div class="bodywrapper">

                <div class="containerwrapper" id="aa">

                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-toggleable-sm">
                            <div class="row">

                                <div class="col-md-6">
                                    @*@Html.Partial("_Knobs")*@
                                    <div class="oval-beneath">
                                        <div class="oval-bottom">
                                            <div class="oval-topsy">
                                                <div class="oval-topsy-solid">
                                                    <div class="oval-topsy-solid-round">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <button class="Colors" style="background-color:mediumturquoise" onclick="changeElementBackgroundColor('aa', '#ccffcc')"></button>
                                    <button class="Colors" style="background-color:yellow" onclick="changeElementBackgroundColor('aa', '#FFCB00')"></button>
                                    <button class="Colors" style="background-color:lightgreen" onclick="changeElementBackgroundColor('aa', '#35CB00')"></button>

                                </div>
                            </div>
                        </nav>

                        <nav class="navbar navbar-expand-md navbar-toggleable-sm">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="maintitleh1">Proto Zombie Enterprises inc.</h1>
                                </div>
                            </div>
                        </nav>
                        <nav class="navbar navbar-expand-md navbar-toggleable-sm">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-weight:bold">Authorized use only.</p>
                                </div>
                            </div>
                        </nav>



                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
                            <div class="container">
                                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                                    <ul class="navbar-nav flex-grow-1">
                                        <li><div class="navbar-button">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-linkNAVBAR" })</div></li>
                                        <li><div class="navbar-button">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-linkNAVBAR" })</div></li>
                                        <li><div class="navbar-button">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-linkNAVBAR" })</div></li>
                                    </ul>
                                    <nav class="navbar navbar-expand-md navbar-toggleable-sm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @RenderSection("_Timer", required: false)
                                               
                                            </div>
                                        </div>
                                    </nav>
                                    @Html.Partial("_LoginPartial")
                                </div>

                            </div>
                        </nav>



                        <hr />
                        <div>
                            <div id="container-container-transitioner" class="hidden">
                                <div class="container body-content" id="content-container">
                                    @RenderBody()
                                </div>
                            </div>
                            <button onclick="toggleContent()">Toggle Content</button>
                            <div>

                                <hr />
                                <footer>
                                    <button class="btn-BW" id="btnFirst" onclick="changeElementBackgroundColor('aa', '#ccffcc')"></button>
                                    <button class="btn-BW" id="btnSecond" onclick="changeElementBackgroundColor('aa', '#FFCB00')"></button>
                                    <button class="btn-BW" id="btnThird" onclick="changeElementBackgroundColor('aa', '#35CB00')"></button>

                                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </main>

        @Scripts.Render("~/bundles/jquery")

        <script>
            function changeElementBackgroundColor(id, color) {
                var element = document.getElementById(id);
                if (element) {
                    element.style.backgroundColor = color;
                }
            }


            /*Content div transition function */

            function toggleContent() {
                var content = document.getElementById("container-container-transitioner");
                if (content.classList.contains("visible")) {
                    content.classList.remove("visible");
                } else {
                    content.classList.add("visible");
                }
            }

            /*AJAX request for the partial view load, Update part of the page, inject partial view to the RenderBody*/

            $(document).ready(function () {
                $(".nav-linkNAVBAR").click(function (event) {
                    event.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (response) {
                        if ($.trim(response)) {
                            $("#content-container").html(response);
                        } else {
                            window.location.href = url;
                        }
                    });
                });
            });
        </script>


        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
